@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  width: 400px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: #fff;
  box-shadow: 0 0 20px 2px #3333331a;
  width: 400px;
  border-radius: 3px;
  overflow: hidden;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  background-color: rgb(215, 230, 230);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button {
  font-size: 1.5rem;
  background-color: transparent;
  color: rgb(215, 230, 230);
  border: none;
  margin-left: 10px;
  /* border-radius: 25px; */
}

.fav-container {
  padding: 1rem;
  text-align: center;
  background-color: rgb(248, 218, 230);
}

.fav-meals {
  display: flex;
  /* overflow: auto; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.fav-meals li {
  width: 75px;
  margin: 5px;
}

.fav-meals li img {
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0 0 20px 2px #3333331a;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.fav-meals li span {
  font-size: 0.8rem;
}
