@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: rgb(139, 145, 145);
}

h1 {
  color: rgb(248, 110, 195);
  font-size: 10rem;
  text-align: center;
  opacity: 0.8;
}

form {
  margin: auto;
  max-width: 100%;
  width: 400px;
  box-shadow: 0 4px 10px #262525;
}

.input {
  font-size: 2rem;
  width: 100%;
  display: block;
  padding: 1rem 2rem;
  border: none;
}

.input::placeholder {
  color: rgb(205, 152, 184);
  opacity: 0.4;
}

.todos {
  list-style-type: none;
  background-color: white;
  padding: 0;
  margin: 0;
}

.todos li {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-top: 1px solid #e5e5e5;
}
