@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1552084117-56a987666449?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
  min-height: 100vh;
  background-position: center center;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 0;

}

.count-container {
  display: flex;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-top: 5rem;
  /* margin: - 10rem down from screen */
}

.text-size {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 2rem;
}

.element {
  text-align: center;
}

.element span {
  font-size: 1.3rem;
}
