@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ecd1d1;
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;;
}

canvas {
  width: 800px;
  height: 800px;
  border: 7px solid pink;
  background-color: #f5f5f5;
}

.toolbox {
  padding: 1rem;
  width: 800px;
  background-color: whitesmoke;
}

.toolbox button {
  background-color: rgb(238, 214, 186);
  padding: 0.25rem;
  border: none;
  font-size: 3rem;
  width: 50px;
}
